// Primary
$color-primary: #251697;
$color-primary-light: #5747c9;
$color-primary-dark: #11084f;

// Secondary
$color-secondary: #d40312;
$color-secondary-light: #fb404d;
$color-secondary-dark: #6f0008;

//Greyscale
$color-white: hsl(0, 0, 95);
$color-grey-light: hsl(0, 0, 75);
$color-grey-mid: hsl(0, 0, 50);
$color-grey-dark: hsl(0, 0, 25);
$color-black: hsl(0, 0, 5);
