$margin-1: 4px;
$margin-2: 8px;
$margin-3: 12px;
$margin-4: 16px;
$margin-5: 24px;
$margin-6: 28px;
$margin-7: 32px;
$margin-8: 36px;
$margin-9: 40px;
$margin-10: 44px;
$margin-11: 48px;
$margin-12: 52px;
