@import 'node_modules/normalize.css/normalize';
@import 'base/fonts';
@import 'base/colors';
@import 'base/margins';
@import 'base/text';
@import 'components/layout/basic';
@import 'components/navbar';
@import 'components/article';

body {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Roboto', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}
